name: Docker Image CI

on:
  push:
    branches: [ "main", "develop", "feature/*" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: "Build & Test in Docker"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
    #- name: Build the Docker image
    #  run: docker build . --file Dockerfile --tag  algorithm-exercises-go:${{ github.sha }}
    - name: Build the Docker image
      run: make compose/rebuild
    - name: Run test in Docker image
      run: make compose/run
    - name: Tag Docker image
      run: docker tag  algorithm-exercises-js:latest algorithm-exercises-js:${{ github.sha }}

